[Unit]
Description=Service for the big_backup script
Wants=big_backup.timer

[Service]
Type=oneshot
ExecStart=/bin/big_backup

[Install]
WantedBy=multi-user.target
