SUBSYSTEM=="usb", ATTRS{idVendor}=="0a12", ATTRS{idProduct}=="0001" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/../power/wakeup;'" 
#SUBSYSTEM=="usb", ATTRS{idVendor}=="8087", ATTRS{idProduct}=="0029" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/../power/wakeup;' && /bin/sh -c '/opt/bin/configure_keyboard.sh %p'" 
