#SUBSYSTEM=="usb", ATTRS{idVendor}=="8087", ATTRS{idProduct}=="0029" RUN+="/bin/sh -c '/bin/sleep 1 && /opt/bin/configure_keyboard.sh %p'" 
#SUBSYSTEM=="usb", ATTRS{idVendor}=="0a12", ATTRS{idProduct}=="0001" RUN+="/usr/bin/bash /opt/bin/configure_keyboard.sh" 
